html {
  height: 100%;
}

body {
  font-size: 16px;
  color: black;
  font-family: 'Poppins', sans-serif;
  padding: 0px;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 65px;
  font-weight: 600;
}

h2 {
  font-size: 40px;
  font-weight: 600;
}

h3 {
  font-size: 33px;
  font-family: 'Satisfy', cursive;
  color: #3fd0d4;
  font-weight: 100;
}

h4 {
  font-size: 24px;
  font-weight: 500;
}

h5 {
  font-size: 18px;
  font-weight: 500;
}

ul li {
  text-decoration: none;
  list-style: none;
  font-weight: 400;
  font-size: 13px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #1c1c1c;
  font-weight: 500;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

p {
  font-size: 14px;
}

.custom-container {
  padding: 60px 45px;
  margin: auto;
}

.custom-container.nav-padding {
  padding-top: 0;
  padding-bottom: 0;
  padding: 10px;
}

.custom-container.zero-padding {
  padding-top: 0;
}

.custom-container.zero-top {
  padding-top: 0;
}

.small-container {
  padding-left: 20px;
}

.section-title {
  text-align: center;
  padding-bottom: 20px;
}

.section-title p {
  width: 500px;
  margin: auto;
}

.icon-style {
  padding-left: 20px;
  font-size: 15px;
}

.icon-style:first-of-type {
  padding-left: 0;
}

.icon-style.icon-color {
  color: #3fd0d4;
}

.icon-style:hover {
  color: #3fd0d4;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.country-tile {
  border-radius: 50%;
}

.parallax {
  background-image: url("../images/h1-parallax-img-1.jpeg");
  min-height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.common-button {
  border: none;
  padding: 18px 66px;
  font-size: 18px;
  background-color: #ffffff;
}

.common-button:hover {
  background-color: #23a9af;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  color: white;
}

.nav-dropdown {
  background-color: white;
  position: absolute;
  top: 50px;
  padding: 10px 45px;
  width: 150px;
}

#top-nav {
  background-color: #1c1c1c;
}

#top-nav .top-nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#top-nav .top-nav-container .top-nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#top-nav .top-nav-container .top-nav-items ul {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#top-nav .top-nav-container .top-nav-items ul li {
  padding-left: 10px;
}

#top-nav .top-nav-container .top-nav-items ul li:hover {
  color: #3fd0d4;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

#top-nav .top-nav-container .top-nav-items .top-nav-buttons {
  height: 44px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#top-nav .top-nav-container .top-nav-items .top-nav-buttons button {
  background-color: #23a9af;
  padding: 15px 40px;
  color: white;
  font-size: 14px;
}

#top-nav .top-nav-container .top-nav-items .top-nav-buttons .login-button {
  background-color: #3fd0d4;
  font-size: 20px;
  padding: 12px;
}

#main-nav {
  position: -webkit-sticky;
  position: sticky;
  -webkit-transition: 0.6s all ease;
  transition: 0.6s all ease;
  top: 0;
  z-index: 200;
  background-color: white;
  -webkit-box-shadow: 0px 0px 7px 1px #c7c7c78a;
          box-shadow: 0px 0px 7px 1px #c7c7c78a;
}

#main-nav .navigation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main-nav .navigation-container .navigation-items .main-logo img {
  width: 150px;
  height: 48px;
  -o-object-fit: cover;
     object-fit: cover;
}

#main-nav .navigation-container .navigation-items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main-nav .navigation-container .navigation-items ul li {
  padding-right: 60px;
}

#main-nav .navigation-container .navigation-items ul li a {
  font-size: 16px;
  color: #000000;
  position: relative;
}

#main-nav .navigation-container .navigation-items ul li a:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 3px;
  background: #3fd0d4;
}

#main-nav .navigation-container .navigation-items ul li a:hover {
  color: #3fd0d4;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

#main-nav .navigation-container .navigation-items ul li a:hover:after {
  width: 100%;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

#main-nav .navigation-container .navigation-items .nav-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main-nav .navigation-container .navigation-items .nav-buttons .navbar-icons {
  cursor: pointer;
  color: #212121;
  font-size: 30px;
}

#main-nav .navigation-container .navigation-items .nav-buttons .navbar-icons:hover {
  color: #3fd0d4;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

#main-nav .navigation-container .navigation-items .nav-buttons .navbar-icons {
  padding-right: 20px;
}

#main-nav .navigation-container .navigation-items .nav-buttons .navbar-icons:nth-child(n+1) {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

#main-nav .navigation-container .navigation-items .nav-buttons .nav-bars {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  cursor: pointer;
}

#main-nav .navigation-container .navigation-items .nav-buttons .nav-bars span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2px;
  background-color: black;
  margin: 5px;
}

#main-nav .navigation-container .navigation-items .nav-buttons .nav-bars span:nth-child(n+1) {
  width: 12px;
}

#main-nav .navigation-container .navigation-items .nav-buttons .nav-bars span:nth-child(n+2) {
  width: 18px;
}

#main-nav .navigation-container .navigation-items .nav-buttons .nav-bars span:last-of-type {
  width: 25px;
}

#main-nav .navigation-container .navigation-items .nav-buttons .sidenav {
  width: 500px;
  position: absolute;
  top: -45px;
  right: 0px;
  z-index: 10;
  background-color: #ffffff;
  height: 200vh;
  overflow: scroll;
  overflow-x: hidden;
  display: none;
}

#main-nav .navigation-container .navigation-items .nav-buttons .sidenav::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

#main-nav .navigation-container .navigation-items .nav-buttons .sidenav .sidenav-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px;
}

#main-nav .navigation-container .navigation-items .nav-buttons .sidenav .sidenav-top span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3px;
  background-color: black;
  margin: 5px;
}

#main-nav .navigation-container .navigation-items .nav-buttons .sidenav .sidenav-top span:first-of-type {
  width: 25px;
  -webkit-transform: rotate(130deg);
          transform: rotate(130deg);
}

#main-nav .navigation-container .navigation-items .nav-buttons .sidenav .sidenav-top span:last-of-type {
  width: 25px;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  position: absolute;
  top: 20px;
}

#main-nav .navigation-container .navigation-items .nav-buttons .sidenav .sidenav-container {
  height: 100%;
  padding: 65px 50px 40px;
}

#main-nav .navigation-container .navigation-items .nav-buttons .sidenav .sidenav-container .logo {
  text-align: center;
}

#main-nav .navigation-container .navigation-items .nav-buttons .sidenav .sidenav-container .logo img {
  width: 204px;
  height: 74px;
  -o-object-fit: contain;
     object-fit: contain;
}

#main-nav .navigation-container .navigation-items .nav-buttons .sidenav .sidenav-container .logo h3 {
  padding: 25px;
  color: #000000;
  font-size: 18px;
}

#main-nav .navigation-container .navigation-items .nav-buttons .sidenav .sidenav-container .sidenav-maps p {
  padding: 20px 0;
  width: 350px;
  margin: auto;
}

#main-nav .navigation-container .navigation-items .nav-buttons .sidenav .sidenav-container .search-bar {
  padding: 25px 0;
}

#main-nav .navigation-container .navigation-items .nav-buttons .sidenav .sidenav-container .search-bar .search-fields {
  padding: 20px 0;
}

#main-nav .navigation-container .navigation-items .nav-buttons .sidenav .sidenav-container .search-bar .search-fields input {
  border: none;
  padding: 15px 0;
  background-color: #f8f8f8;
  width: 200px;
}

#main-nav .navigation-container .navigation-items .nav-buttons .sidenav .sidenav-container .search-bar .search-fields button {
  padding: 10px 0;
  width: 50px;
  background-color: #3fd0d4;
  color: white;
}

#main-nav .navigation-container .navigation-items .nav-buttons .sidenav .sidenav-container .social-icons .icons-items {
  padding: 15px 0;
}

#main-nav .navigation-container .navigation-items .nav-buttons .sidenav .sidenav-container .social-icons .icons-items .icon-style {
  background-color: #3fd0d4;
  border-radius: 50%;
  padding: 0;
  color: white;
  padding: 10px;
  font-size: 25px;
  margin-right: 15px;
}

#footer-wrapper {
  background-color: #222222;
  color: #a8a8a8;
}

#footer-wrapper .custom-container .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer-wrapper .custom-container .footer-container .footer-items {
  width: 25%;
  padding: 0px 15px;
}

#footer-wrapper .custom-container .footer-container .footer-items .footer-logo img {
  width: auto;
}

#footer-wrapper .custom-container .footer-container .footer-items .footer-title {
  padding: 20px 0;
}

#footer-wrapper .custom-container .footer-container .footer-items .footer-title p {
  font-size: 17px;
}

#footer-wrapper .custom-container .footer-container .footer-items .footer-contact {
  color: white;
}

#footer-wrapper .custom-container .footer-container .footer-items .footer-contact li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  font-weight: 200;
}

#footer-wrapper .custom-container .footer-container .footer-items .footer-contact li .icon-style {
  padding: 0 10px;
  color: white;
}

#footer-wrapper .custom-container .footer-container .footer-items .footer-contact li:hover {
  color: #23a9af;
  -webkit-transition: 0.6s all ease;
  transition: 0.6s all ease;
}

#footer-wrapper .custom-container .footer-container .footer-items .footer-posts .post-title {
  color: white;
}

#footer-wrapper .custom-container .footer-container .footer-items .footer-posts .post-content {
  padding: 16px 0;
}

#footer-wrapper .custom-container .footer-container .footer-items .footer-posts .post-content .content-date {
  padding-top: 12px;
  color: white;
}

#footer-wrapper .custom-container .footer-container .footer-items .newsletter-title {
  color: white;
}

#footer-wrapper .custom-container .footer-container .footer-items .newsletter-subtext {
  padding: 20px 0;
}

#footer-wrapper .custom-container .footer-container .footer-items .newsletter-inputs {
  position: relative;
}

#footer-wrapper .custom-container .footer-container .footer-items .newsletter-inputs .input-icon {
  position: absolute;
  content: '';
  top: 22px;
  left: 20px;
}

#footer-wrapper .custom-container .footer-container .footer-items .newsletter-inputs input {
  width: 268px;
  padding: 15px 16px 15px 47px;
  color: #fff;
  background-color: #595959;
  border: none;
  margin-bottom: 10px;
  height: 30px;
}

#footer-wrapper .custom-container .footer-container .footer-items .newsletter-inputs input::-webkit-input-placeholder {
  color: white;
}

#footer-wrapper .custom-container .footer-container .footer-items .newsletter-inputs button {
  width: 335px;
  background-color: #23a9af;
  color: white;
}

#footer-wrapper .custom-container .footer-container .footer-items .newsletter-inputs button:hover {
  background-color: white;
  color: #000000;
  -webkit-transition: 0.6s all ease;
  transition: 0.6s all ease;
}

#sub-nav-section {
  background-color: #3fd0d4;
}

#sub-nav-section .custom-container {
  padding: 40px;
}

#sub-nav-section .custom-container .sub-nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sub-nav-section .custom-container .sub-nav-container .sub-nav-items h4 {
  color: white;
}

.banner-slider {
  height: 55vh;
}

.banner-slider .slider-container {
  position: relative;
}

.banner-slider .slider-container .slider-image {
  height: 56vh;
  width: 100%;
}

.banner-slider .slider-container .slider-text {
  text-align: center;
  max-width: 800px;
  position: absolute;
  content: '';
  z-index: 1;
  color: white;
  top: 15%;
  right: 300px;
}

.banner-slider .slider-container .slider-text h3 {
  color: white;
}

.banner-slider .slider-container .slider-text h1 {
  font-size: 80px;
}

.search-form {
  position: relative;
}

.search-form .search-input {
  position: absolute;
  top: -40px;
  right: 9%;
  -webkit-box-shadow: -1px -3px 5px 3px rgba(155, 154, 154, 0.418);
          box-shadow: -1px -3px 5px 3px rgba(155, 154, 154, 0.418);
}

.search-form .search-input input {
  width: 330px;
  height: 72px;
  border: white;
  border-right: 0.2px solid #f1f1f1;
}

.search-form .search-input select {
  width: 330px;
  height: 75px;
  border: white;
  border-right: 0.2px solid #f1f1f1;
}

.search-form .search-input select option {
  background-color: white !important;
}

.search-form .search-input button {
  width: 200px;
  height: 75px;
  font-size: 13px;
  border: white;
  color: white;
  background-color: #3fd0d4;
}

.choose-holiday-wrapper .section-title {
  text-align: center;
}

.choose-holiday-wrapper .section-title p {
  max-width: 600px;
  margin: auto;
}

.choose-holiday-wrapper .destination-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.choose-holiday-wrapper .destination-container .destination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.choose-holiday-wrapper .destination-container .destination .destination-items {
  width: 25%;
  cursor: pointer;
  position: relative;
  padding: 15px;
}

.choose-holiday-wrapper .destination-container .destination .destination-items .destination-country .country-name {
  position: absolute;
  content: '';
  top: 40%;
  left: 35%;
  color: white;
  background-color: transparent;
  font-family: 'Satisfy', cursive;
}

.choose-holiday-wrapper .destination-container .destination .destination-items .destination-country .country-name h1 {
  font-size: 48px;
}

.choose-holiday-wrapper .destination-container .destination .destination-items .places-details {
  position: absolute;
  width: 80%;
  content: '';
  bottom: 10%;
  left: 10%;
  color: white;
  font-weight: bold;
}

.choose-holiday-wrapper .destination-container .destination .destination-items .places-details .details-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choose-holiday-wrapper .destination-container .destination:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.paris-banner .banner-image {
  text-align: center;
}

.paris-banner .banner-image img {
  height: auto;
  width: 438px;
}

.video-wrapper {
  position: relative;
}

.video-wrapper .custom-container {
  padding-bottom: 0;
}

.video-wrapper .custom-container .section-title p {
  max-width: 500px;
  margin: auto;
  color: white;
}

.video-wrapper .custom-container .section-title h1 {
  font-size: 65px;
  color: white;
}

.video-wrapper .custom-container .section-title h3 {
  color: white;
  font-size: 33px;
}

.video-wrapper .custom-container .video-image {
  cursor: pointer;
  margin: 10px 170px;
  position: relative;
  bottom: -40px;
}

.video-wrapper .custom-container .video-image img {
  height: auto;
  width: auto;
}

.video-wrapper .custom-container .video-image .play-button {
  position: absolute;
  content: '';
  top: 45%;
  right: 45%;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-wrapper .todo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 125px 50px;
}

.video-wrapper .todo-container .todo-items {
  width: 25%;
  padding: 0 15px;
  text-align: center;
}

.video-wrapper .todo-container .todo-items .todo-image img {
  height: auto;
  width: auto;
}

.video-wrapper .todo-container .todo-items .todo-content h4 {
  padding: 12px 0;
}

.holiday-slider-wrapper {
  background-color: #f8f8f8;
}

.holiday-slider-wrapper .custom-container {
  padding-left: 0;
  padding-right: 0;
}

.holiday-slider-wrapper .custom-container .section-title p {
  max-width: 500px;
  margin: auto;
}

.holiday-slider-wrapper .custom-container .holiday-chose-slider {
  padding-right: 0;
  padding-left: 0;
}

.holiday-slider-wrapper .custom-container .holiday-chose-slider .destinations-card .destinations-items {
  padding: 10px;
}

.holiday-slider-wrapper .custom-container .holiday-chose-slider .destinations-card .destinations-items .destination-details {
  -webkit-box-shadow: 0px 0px 7px 0px rgba(155, 154, 154, 0.418);
          box-shadow: 0px 0px 7px 0px rgba(155, 154, 154, 0.418);
  background-color: #3fd0d4;
  color: white;
  padding: 8px;
}

.holiday-slider-wrapper .custom-container .holiday-chose-slider .destinations-card .destinations-items .destination-details .sub-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.holiday-slider-wrapper .custom-container .holiday-chose-slider .destinations-card .destinations-items .destination-content {
  padding: 25px;
  border-radius: 4px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(155, 154, 154, 0.418);
          box-shadow: 0px 0px 7px 0px rgba(155, 154, 154, 0.418);
}

.holiday-slider-wrapper .custom-container .holiday-chose-slider .destinations-card .destinations-items .destination-content p {
  padding: 10px 0;
}

.holiday-slider-wrapper .custom-container .holiday-chose-slider .slick-dots li button:before {
  color: #3fd0d4 !important;
  font-size: 12px;
}

.review-slider .slider-items {
  text-align: center;
}

.review-slider .slider-items .slider-image {
  text-align: -webkit-center;
}

.review-slider .slider-items .slider-image img {
  height: 100%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.review-slider .slider-items .slider-text {
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

.review-slider .slider-items .slider-text h3 {
  padding-top: 20px;
  color: #000000;
}

.common-places-section {
  background-color: #f8f8f8;
}

.common-places-section .custom-container .section-title p {
  max-width: 500px;
  margin: auto;
}

.common-places-section .custom-container .places-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
}

.common-places-section .custom-container .places-container .places-items {
  width: 33.33%;
  padding: 0 15px;
  position: relative;
}

.common-places-section .custom-container .places-container .places-items .places-images {
  cursor: pointer;
  height: 100%;
}

.common-places-section .custom-container .places-container .places-items .places-content {
  text-align: center;
  color: #ffffff;
  position: absolute;
  bottom: 5%;
  right: 40%;
}

.common-places-section .custom-container .vacation-container .places-container .places-items {
  padding: 0 35px;
}

.common-places-section .custom-container .vacation-container .places-container .places-items .places-images {
  height: 80%;
}

.common-places-section .custom-container .vacation-container .places-container .places-items .places-images img {
  border-radius: 50%;
}

.common-places-section .custom-container .vacation-container .places-container .places-items .places-content {
  bottom: 50%;
  right: 35%;
}

.common-places-section .custom-container .vacation-container .places-container .places-items .places-content h4 {
  font-family: 'Satisfy', cursive;
  font-size: 48px;
}

.reviews-slider .custom-container .section-title {
  color: white;
}

.reviews-slider .custom-container .section-title h3 {
  color: white;
}

.reviews-slider .custom-container .section-title p {
  max-width: 500px;
  margin: auto;
}

.reviews-slider .custom-container .review-container {
  padding: 30px 0;
}

.reviews-slider .custom-container .review-container .review-items .review-details {
  padding: 30px;
  margin-right: 25px;
  background-color: white;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0 45.92px 0.08px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 45.92px 0.08px rgba(0, 0, 0, 0.6);
}

.reviews-slider .custom-container .review-container .review-items .review-details .review-image img {
  width: 110px;
  -o-object-fit: contain;
     object-fit: contain;
}

.reviews-slider .custom-container .review-container .review-items .review-details .review-content {
  padding-left: 20px;
}

.reviews-slider .custom-container .review-container .review-items .review-details .review-content p {
  padding: 10px 0;
  font-weight: 400;
}

.reviews-slider .slick-dots li button:before {
  color: #3fd0d4 !important;
  font-size: 12px;
}

.home-blog-wrapper .custom-container {
  padding-top: 165px;
}

.home-blog-wrapper .custom-container .blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-blog-wrapper .custom-container .blog-container .blog-items {
  width: 65%;
  position: relative;
  overflow: hidden;
}

.home-blog-wrapper .custom-container .blog-container .blog-items .section-title {
  text-align: left;
}

.home-blog-wrapper .custom-container .blog-container .blog-items .section-title p {
  width: 100%;
}

.home-blog-wrapper .custom-container .blog-container .blog-items .blogs-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 45px;
}

.home-blog-wrapper .custom-container .blog-container .blog-items .blogs-section .items-image img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 136px;
  width: auto;
}

.home-blog-wrapper .custom-container .blog-container .blog-items .blogs-section .items-content {
  padding: 20px;
}

.home-blog-wrapper .custom-container .blog-container .blog-items .blogs-section .items-content p {
  padding: 10px 0;
}

.home-blog-wrapper .custom-container .blog-container .blog-items .blogs-section .items-content .items-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-blog-wrapper .custom-container .blog-container .blog-items .blogs-section .items-content .items-details h5 {
  padding-right: 30px;
}

.home-blog-wrapper .custom-container .blog-container .blog-items .blog-banner-image {
  text-align: center;
}

.home-blog-wrapper .custom-container .blog-container .blog-items .blog-banner-image img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 538px;
  width: auto;
}

.home-blog-wrapper .custom-container .blog-container .blog-items .blog-banner {
  background-color: #3fd0d4;
  width: 600px;
  padding: 20px;
  position: absolute;
  content: '';
  top: 14%;
  right: -15%;
  -webkit-transform: rotate(345deg);
          transform: rotate(345deg);
  text-align: center;
}

.home-blog-wrapper .custom-container .blog-container .blog-items .blog-banner h2 {
  color: white;
}

.home-blog-wrapper .custom-container .blog-container .blog-items .blog-banner h3 {
  color: #000000;
}

.home-blog-wrapper .custom-container .blog-container .blog-items:last-of-type {
  width: 35%;
}

#about-page .about-banner .parallax {
  height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about-page .about-banner .parallax .section-title h3,
#about-page .about-banner .parallax .section-title h1 {
  color: white;
}

#about-page .popular-tours-section .custom-container {
  padding: 100px 60px;
}

#about-page .popular-tours-section .custom-container .tours-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about-page .popular-tours-section .custom-container .tours-container .tours-items {
  width: 60%;
}

#about-page .popular-tours-section .custom-container .tours-container .tours-items .section-title {
  text-align: left;
}

#about-page .popular-tours-section .custom-container .tours-container .tours-items .section-title p {
  width: 100%;
  font-size: 17px;
  padding-top: 10px;
  color: #505050;
}

#about-page .popular-tours-section .custom-container .tours-container .tours-items .section-content p {
  line-height: 2.0;
  padding-bottom: 35px;
  color: #505050;
}

#about-page .popular-tours-section .custom-container .tours-container .tours-items .section-content button {
  background-color: #3fd0d4;
  color: white;
}

#about-page .popular-tours-section .custom-container .tours-container .tours-items img {
  width: auto;
}

#about-page .popular-tours-section .custom-container .tours-container .tours-items:last-of-type {
  width: 40%;
  text-align: right;
}

#about-page .about-video-wrapper {
  position: relative;
  height: 100%;
}

#about-page .about-video-wrapper .video-image {
  cursor: pointer;
}

#about-page .about-video-wrapper .play-button {
  position: absolute;
  content: '';
  top: 42%;
  right: 47%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: all;
  cursor: pointer;
}

#about-page .about-video-wrapper .play-button img {
  height: auto;
  width: 100px;
}

#about-page .tour-bar-wrapper .custom-container {
  padding: 140px 60px;
}

#about-page .tour-bar-wrapper .custom-container .bar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#about-page .tour-bar-wrapper .custom-container .bar-container .bar-items {
  width: 40%;
}

#about-page .tour-bar-wrapper .custom-container .bar-container .bar-items:last-of-type {
  width: 60%;
}

#about-page .tour-bar-wrapper .custom-container .bar-container .bar-items .tour-images {
  text-align: right;
}

#about-page .tour-bar-wrapper .custom-container .bar-container .bar-items .tour-images img {
  width: auto;
}

#about-page .tour-bar-wrapper .custom-container .bar-container .bar-items .progress-bar {
  padding-left: 120px;
}

#about-page .tour-bar-wrapper .custom-container .bar-container .bar-items .progress-bar .section-title {
  text-align: left;
}

#about-page .tour-bar-wrapper .custom-container .bar-container .bar-items .progress-bar .section-title p {
  width: 100%;
  margin: auto;
}

#about-page .tour-bar-wrapper .custom-container .bar-container .bar-items .progress-bar .bars-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
}

#about-page .tour-bar-wrapper .custom-container .bar-container .bar-items .progress-bar .bars {
  background-color: #f0ede8;
}

#about-page .tour-bar-wrapper .custom-container .bar-container .bar-items .progress-bar .bars span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  background-color: #3fd0d4;
  margin-bottom: 10px;
  width: 60%;
  position: relative;
}

#about-page .tour-bar-wrapper .custom-container .bar-container .bar-items .progress-bar .bars span:before {
  content: '';
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  background-color: #23a9af;
  margin-bottom: 10px;
  width: 5%;
}

#about-page .tour-bar-wrapper .custom-container .bar-container .bar-items .progress-bar .bars span:after {
  content: '';
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0;
  height: 25px;
  background-color: #23a9af;
  margin-bottom: 10px;
  width: 5%;
}

#about-page .popular-holiday .destination .destination-items:nth-child(3) {
  height: 200%;
}

#about-page .popular-holiday .destination .destination-items .destination-country .country-tile {
  border-radius: 0%;
}

#about-page .popular-holiday .destination .destination-items .destination-country .country-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 270px;
  top: 80%;
  left: 10%;
}

#about-page .popular-holiday .destination .destination-items .destination-country .country-name h1 {
  font-family: 'Poppins', sans-serif;
}

#about-page .popular-holiday .destination .destination-items .destination-country .country-name h4 {
  font-family: 'Poppins', sans-serif;
}

#about-page .popular-holiday .destination .destination-items .places-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#about-page .popular-holiday .destination .destination-items .places-details .rating {
  display: none !important;
}

.slick-slider .slick-arrow:after {
  content: '';
  position: absolute;
  top: 25px;
  left: -20px;
  background-image: url("../images/chevron-left-solid.svg") !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 30px;
  height: 60px;
}

.slick-prev {
  left: 30px !important;
  z-index: 10;
}

.slick-next {
  right: 70px !important;
}

.slick-prev,
.slick-next {
  background-color: #3fd0d400 !important;
}

.slick-prev:last-of-type,
.slick-next:last-of-type {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.slick-prev:before,
.slick-next:before {
  font-size: 55px !important;
  display: none;
}
/*# sourceMappingURL=index.css.map */