html {
    height: 100%;
}

body {
    font-size: 16px;
    color: black;
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;


}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 65px;
    font-weight: 600;
}

h2 {
    font-size: 40px;
    font-weight: 600;
}

h3 {
    font-size: 33px;
    font-family: 'Satisfy', cursive;
    color: #3fd0d4;
    font-weight: 100;
}

h4 {
    font-size: 24px;
    font-weight: 500;
}

h5 {
    font-size: 18px;
    font-weight: 500;
}

ul {
    li {
        text-decoration: none;
        list-style: none;
        font-weight: 400;
        font-size: 13px;
        cursor: pointer;

    }
}

a {
    text-decoration: none;
    color: #1c1c1c;
    font-weight: 500;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p {

    font-size: 14px;
}

.custom-container {
    padding: 60px 45px;
    margin: auto;

    &.nav-padding {
        padding-top: 0;
        padding-bottom: 0;
        padding: 10px;
    }

    &.zero-padding {
        padding-top: 0;

    }

    &.zero-top {
        padding-top: 0;
    }
}

.small-container {
    padding-left: 20px;
}

.section-title {
    text-align: center;
    padding-bottom: 20px;

    p {
        width: 500px;
        margin: auto;
    }
}

.icon-style {
    padding-left: 20px;
    font-size: 15px;

    &:first-of-type {
        padding-left: 0;
    }

    &.icon-color {
        color: #3fd0d4;
    }

    &:hover {
        color: #3fd0d4;
        transition: all 0.6s ease;
    }

}

.country-tile {
    border-radius: 50%;
}

.parallax {
    background-image: url("../images/h1-parallax-img-1.jpeg");
    min-height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.common-button {
    border: none;
    padding: 18px 66px;
    font-size: 18px;
    background-color: #ffffff;

    &:hover {
        background-color: #23a9af;
        transition: all 0.6s ease;
        color: white;
    }
}
.nav-dropdown{
    background-color: white;
    position: absolute;
    top:50px;
    padding: 10px 45px;
    width: 150px;
}

#top-nav {
    background-color: #1c1c1c;

    .top-nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .top-nav-items {
            display: flex;

            ul {
                color: white;
                display: flex;
                align-items: center;

                li {
                    padding-left: 10px;

                    &:hover {
                        color: #3fd0d4;
                        transition: all 0.6s ease;
                    }
                }
            }

            .top-nav-buttons {
                height: 44px;
                padding-left: 20px;
                display: flex;
                align-items: center;

                button {
                    background-color: #23a9af;
                    padding: 15px 40px;
                    color: white;
                    font-size: 14px;
                }

                .login-button {
                    background-color: #3fd0d4;
                    font-size: 20px;
                    padding: 12px;
                }
            }

        }
    }
}

#main-nav {
    position: sticky;
    transition: 0.6s all ease;
    top: 0;
    z-index: 200;
    background-color: white;
    box-shadow: 0px 0px 7px 1px #c7c7c78a;

    .navigation-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .navigation-items {

            .main-logo {
                img {
                    width: 150px;
                    height: 48px;
                    object-fit: cover;
                }
            }

            ul {
                display: flex;

                li {

                    &:not(&:last-of-type) {
                        padding-right: 60px;
                    }

                    a {
                        font-size: 16px;

                        color: #000000;
                        position: relative;

                        &:after {
                            content: '';
                            position: absolute;
                            bottom: -10px;
                            left: 0;
                            width: 0;
                            height: 3px;
                            background: #3fd0d4;
                        }

                        &:hover {
                            color: #3fd0d4;
                            transition: all 0.6s ease;

                            &:after {
                                width: 100%;
                                transition: all 0.6s ease;
                            }
                        }
                    }
                }
            }

            .nav-buttons {
                display: flex;

                .navbar-icons {
                    cursor: pointer;
                    color: #212121;
                    font-size: 30px;

                    &:hover {
                        color: #3fd0d4;
                        transition: all 0.6s ease;
                    }

                    &:not(&:last-of-type) {
                        padding-right: 20px;
                    }

                    &:nth-child(n+1) {
                        transform: rotateY(180deg);
                    }
                }

                .nav-bars {
                    transform: rotateY(180deg);
                    cursor: pointer;

                    span {
                        display: flex;
                        height: 2px;
                        background-color: black;
                        margin: 5px;

                        &:nth-child(n+1) {
                            width: 12px;
                        }

                        &:nth-child(n+2) {
                            width: 18px;
                        }

                        &:last-of-type {
                            width: 25px;
                        }
                    }
                }

                .sidenav {
                    width: 500px;
                    position: absolute;
                    top: -45px;
                    right: 0px;
                    z-index: 10;
                    background-color: #ffffff;
                    height: 200vh;
                    overflow: scroll;
                    overflow-x: hidden;

                    &::-webkit-scrollbar {
                        width: 0;
                        /* Remove scrollbar space */
                        background: transparent;
                        /* Optional: just make scrollbar invisible */
                    }

                    display: none;

                    .sidenav-top {

                        display: flex;
                        justify-content: flex-end;
                        padding: 20px;

                        span {
                            display: flex;
                            height: 3px;
                            background-color: black;
                            margin: 5px;

                            &:first-of-type {
                                width: 25px;
                                transform: rotate(130deg);
                            }

                            &:last-of-type {
                                width: 25px;
                                transform: rotate(225deg);
                                position: absolute;
                                top: 20px;

                            }
                        }
                    }

                    .sidenav-container {
                        height: 100%;
                        padding: 65px 50px 40px;

                        .logo {
                            text-align: center;

                            img {
                                width: 204px;
                                height: 74px;
                                object-fit: contain;
                            }

                            h3 {
                                padding: 25px;
                                color: #000000;
                                font-size: 18px;
                            }
                        }

                        .sidenav-maps {
                            p {
                                padding: 20px 0;
                                width: 350px;
                                margin: auto;
                            }
                        }

                        .search-bar {
                            padding: 25px 0;

                            .search-fields {
                                padding: 20px 0;

                                input {
                                    border: none;
                                    padding: 15px 0;
                                    background-color: #f8f8f8;
                                    width: 200px;
                                }

                                button {
                                    padding: 10px 0;
                                    width: 50px;
                                    background-color: #3fd0d4;
                                    color: white;
                                }
                            }
                        }

                        .social-icons {
                            .icons-items {
                                padding: 15px 0;

                                .icon-style {
                                    background-color: #3fd0d4;
                                    border-radius: 50%;
                                    padding: 0;
                                    color: white;
                                    padding: 10px;
                                    font-size: 25px;
                                    margin-right: 15px;
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}

#footer-wrapper {
    background-color: #222222;
    color: #a8a8a8;

    .custom-container {
        .footer-container {
            display: flex;

            .footer-items {
                width: 25%;
                padding: 0px 15px;

                .footer-logo {
                    img {
                        width: auto;
                    }
                }

                .footer-title {
                    padding: 20px 0;

                    p {
                        font-size: 17px;
                    }
                }

                .footer-contact {
                    color: white;

                    li {
                        display: flex;
                        align-items: center;
                        padding: 5px;
                        font-weight: 200;

                        .icon-style {
                            padding: 0 10px;
                            color: white;
                        }

                        &:hover {
                            color: #23a9af;
                            transition: 0.6s all ease;

                        }
                    }
                }

                .footer-posts {
                    .post-title {
                        color: white;
                    }

                    .post-content {
                        padding: 16px 0;

                        .content-date {
                            padding-top: 12px;
                            color: white;
                        }
                    }
                }

                .newsletter-title {
                    color: white;
                }

                .newsletter-subtext {
                    padding: 20px 0
                }

                .newsletter-inputs {
                    position: relative;

                    .input-icon {
                        position: absolute;
                        content: '';
                        top: 22px;
                        left: 20px;

                    }

                    input {
                        width: 268px;
                        padding: 15px 16px 15px 47px;
                        color: #fff;
                        background-color: #595959;
                        border: none;
                        margin-bottom: 10px;
                        height: 30px;

                        &::-webkit-input-placeholder {
                            color: white;
                        }
                    }

                    button {
                        width: 335px;
                        background-color: #23a9af;
                        color: white;

                        &:hover {
                            background-color: white;
                            color: #000000;
                            transition: 0.6s all ease;
                        }
                    }
                }
            }
        }
    }
}

#sub-nav-section {
    background-color: #3fd0d4;

    .custom-container {
        padding: 40px;

        .sub-nav-container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .sub-nav-items {
                h4 {
                    color: white;
                }
            }
        }
    }

}


.banner-slider {
    height: 55vh;

    .slider-container {
        position: relative;

        .slider-image {
            height: 56vh;
            width: 100%;

        }

        .slider-text {
            text-align: center;
            max-width: 800px;
            position: absolute;
            content: '';
            z-index: 1;
            color: white;
            top: 15%;
            right: 300px;

            h3 {
                color: white;
            }

            h1 {
                font-size: 80px;
            }
        }
    }
}

.search-form {
    position: relative;

    .search-input {
        position: absolute;
        top: -40px;
        right: 9%;
        box-shadow: -1px -3px 5px 3px rgba(155, 154, 154, 0.418);
        ;

        input {
            width: 330px;
            height: 72px;
            border: white;
            border-right: 0.2px solid #f1f1f1;

        }

        select {
            width: 330px;
            height: 75px;
            border: white;
            border-right: 0.2px solid #f1f1f1;

            option {
                background-color: white !important;
            }

        }

        button {
            width: 200px;
            height: 75px;
            font-size: 13px;
            border: white;
            color: white;
            background-color: #3fd0d4;
        }
    }
}

.choose-holiday-wrapper {
    .section-title {
        text-align: center;

        p {
            max-width: 600px;
            margin: auto;
        }
    }

    .destination-container {
        display: flex;
        flex-wrap: wrap;

        .destination {
            display: flex;

            .destination-items {
                width: 25%;
                cursor: pointer;

                position: relative;
                padding: 15px;

                .destination-country {

                    .country-name {
                        position: absolute;
                        content: '';
                        top: 40%;
                        left: 35%;
                        color: white;
                        background-color: transparent;
                        font-family: 'Satisfy', cursive;

                        h1 {
                            font-size: 48px;
                        }
                    }
                }


                .places-details {
                    position: absolute;
                    width: 80%;
                    content: '';
                    bottom: 10%;
                    left: 10%;
                    color: white;
                    font-weight: bold;

                    .details-item {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                }
            }

            &:nth-child(2) {
                flex-direction: row-reverse;
            }
        }

    }
}

.paris-banner {
    .banner-image {
        text-align: center;

        img {
            height: auto;
            width: 438px;
        }
    }
}

.video-wrapper {

    position: relative;

    .custom-container {
        padding-bottom: 0;

        .section-title {
            p {
                max-width: 500px;
                margin: auto;
                color: white;
            }

            h1 {
                font-size: 65px;
                color: white;
            }

            h3 {
                color: white;
                font-size: 33px;
            }
        }

        .video-image {
            cursor: pointer;
            margin: 10px 170px;
            position: relative;
            bottom: -40px;

            img {
                height: auto;
                width: auto;
            }

            .play-button {
                position: absolute;
                content: '';
                top: 45%;
                right: 45%;
                object-fit: cover;
            }
        }
    }

    .todo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 125px 50px;

        .todo-items {
            width: 25%;
            padding: 0 15px;
            text-align: center;

            .todo-image {
                img {
                    height: auto;
                    width: auto;
                }
            }

            .todo-content {
                h4 {
                    padding: 12px 0;
                }
            }
        }
    }

}

.holiday-slider-wrapper {
    background-color: #f8f8f8;

    .custom-container {
        padding-left: 0;
        padding-right: 0;

        .section-title {
            p {
                max-width: 500px;
                margin: auto;
            }
        }

        .holiday-chose-slider {
            padding-right: 0;
            padding-left: 0;

            .destinations-card {
                .destinations-items {
                    padding: 10px;

                    .destination-details {
                        box-shadow: 0px 0px 7px 0px rgba(155, 154, 154, 0.418);
                        background-color: #3fd0d4;
                        color: white;
                        padding: 8px;

                        .sub-details {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }
                    }

                    .destination-content {
                        padding: 25px;
                        border-radius: 4px;
                        background-color: white;
                        box-shadow: 0px 0px 7px 0px rgba(155, 154, 154, 0.418);

                        p {
                            padding: 10px 0;
                        }
                    }
                }
            }

            .slick-dots {
                li {
                    button {
                        &:before {
                            color: #3fd0d4 !important;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }

}

.review-slider {
    .slider-items {
        text-align: center;

        .slider-image {
            text-align: -webkit-center;

            img {
                height: 100%;
                width: auto;
                object-fit: contain;
            }
        }

        .slider-text {
            padding: 20px;
            max-width: 600px;
            margin: auto;

            h3 {
                padding-top: 20px;
                color: #000000;
            }
        }

    }

}

.common-places-section {
    background-color: #f8f8f8;

    .custom-container {
        .section-title {
            p {
                max-width: 500px;
                margin: auto;
            }
        }

        .places-container {
            display: flex;
            justify-content: space-between;
            padding-top: 50px;

            .places-items {
                width: 33.33%;
                padding: 0 15px;
                position: relative;

                .places-images {
                    cursor: pointer;
                    height: 100%;
                }

                .places-content {
                    text-align: center;
                    color: #ffffff;
                    position: absolute;
                    bottom: 5%;
                    right: 40%;
                }
            }
        }

        .vacation-container {
            .places-container {
                .places-items {
                    padding: 0 35px;

                    .places-images {
                        height: 80%;

                        img {
                            border-radius: 50%;
                        }
                    }

                    .places-content {
                        bottom: 50%;
                        right: 35%;

                        h4 {
                            font-family: 'Satisfy', cursive;
                            font-size: 48px;
                        }
                    }
                }
            }
        }
    }
}

.reviews-slider {
    .custom-container {
        .section-title {
            color: white;

            h3 {
                color: white;
            }

            p {
                max-width: 500px;
                margin: auto;
            }
        }

        .review-container {
            padding: 30px 0;

            .review-items {
                .review-details {
                    padding: 30px;
                    margin-right: 25px;
                    background-color: white;
                    border-radius: 10px;
                    display: flex;
                    box-shadow: 0 0 45.92px 0.08px rgba(0, 0, 0, 0.6);

                    .review-image {
                        img {
                            width: 110px;
                            object-fit: contain;
                        }
                    }

                    .review-content {
                        padding-left: 20px;

                        p {
                            padding: 10px 0;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }

    .slick-dots {
        li {
            button {
                &:before {
                    color: #3fd0d4 !important;
                    font-size: 12px;
                }
            }
        }
    }
}

.home-blog-wrapper {
    .custom-container {
        padding-top: 165px;

        .blog-container {
            display: flex;

            .blog-items {
                width: 65%;
                position: relative;
                overflow: hidden;

                .section-title {
                    text-align: left;

                    p {
                        width: 100%;
                    }
                }

                .blogs-section {
                    display: flex;
                    align-items: center;
                    padding-top: 45px;

                    .items-image {
                        img {
                            object-fit: contain;
                            height: 136px;
                            width: auto;
                        }
                    }

                    .items-content {
                        padding: 20px;

                        p {
                            padding: 10px 0;
                        }

                        .items-details {
                            display: flex;
                            align-items: center;

                            h5 {
                                &:not(&:last-of-type) {
                                    padding-right: 30px;
                                }
                            }
                        }
                    }
                }

                .blog-banner-image {
                    text-align: center;

                    img {
                        object-fit: contain;
                        height: 538px;
                        width: auto;
                    }
                }

                .blog-banner {
                    background-color: #3fd0d4;
                    width: 600px;
                    padding: 20px;
                    position: absolute;
                    content: '';
                    top: 14%;
                    right: -15%;
                    transform: rotate(345deg);
                    text-align: center;

                    h2 {
                        color: white;
                    }

                    h3 {
                        color: #000000;
                    }
                }

                &:last-of-type {
                    width: 35%;
                }
            }
        }
    }
}

#about-page {
    .about-banner {
        .parallax {
            height: 65vh;
            display: flex;
            justify-content: center;
            align-items: center;

            .section-title {

                h3,
                h1 {
                    color: white;
                }
            }
        }
    }

    .popular-tours-section {
        .custom-container {
            padding: 100px 60px;

            .tours-container {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .tours-items {
                    width: 60%;

                    .section-title {
                        text-align: left;

                        p {
                            width: 100%;
                            font-size: 17px;
                            padding-top: 10px;
                            color: #505050;
                        }
                    }

                    .section-content {
                        p {
                            line-height: 2.0;
                            padding-bottom: 35px;
                            color: #505050;
                        }

                        button {
                            background-color: #3fd0d4;
                            color: white;
                        }
                    }

                    img {
                        width: auto;
                    }

                    &:last-of-type {
                        width: 40%;
                        text-align: right;
                    }
                }
            }
        }
    }

    .about-video-wrapper {
        position: relative;
        height: 100%;

        .video-image {
            cursor: pointer;
        }

        .play-button {
            position: absolute;
            content: '';
            top: 42%;
            right: 47%;
            object-fit: cover;
            pointer-events: all;
            cursor: pointer;
            img {
                height: auto;
                width: 100px;
            }
        }
    }

    .tour-bar-wrapper {
        .custom-container {
            padding: 140px 60px;

            .bar-container {
                display: flex;
                justify-content: space-between;

                .bar-items {
                    width: 40%;

                    &:last-of-type {
                        width: 60%;

                    }

                    .tour-images {
                        text-align: right;

                        img {
                            width: auto;
                        }
                    }

                    .progress-bar {
                        padding-left: 120px;

                        .section-title {
                            text-align: left;

                            p {
                                width: 100%;
                                margin: auto;
                            }
                        }

                        .bars-title {
                            display: flex;
                            justify-content: space-between;
                            padding: 15px 0;
                        }

                        .bars {
                            background-color: #f0ede8;

                            span {
                                display: flex;
                                height: 25px;
                                background-color: #3fd0d4;
                                margin-bottom: 10px;
                                width: 60%;
                                position: relative;


                                &:before {
                                    content: '';
                                    position: absolute;
                                    display: flex;
                                    height: 25px;
                                    background-color: #23a9af;
                                    margin-bottom: 10px;
                                    width: 5%
                                }

                                &:after {
                                    content: '';
                                    position: absolute;
                                    display: flex;
                                    right: 0;
                                    height: 25px;
                                    background-color: #23a9af;
                                    margin-bottom: 10px;
                                    width: 5%
                                }
                            }
                        }
                    }
                }
            }
        }

    }

    .popular-holiday {
        .destination {
            .destination-items {
                &:nth-child(3){
                    height: 200%;
                }
                .destination-country {
                    .country-tile {
                        border-radius: 0%;

                    }

                    .country-name {
                        h1 {
                            font-family: 'Poppins', sans-serif;
                        }

                        h4 {
                            font-family: 'Poppins', sans-serif;
                        }

                        display: flex;
                        justify-content: space-between;
                        width: 270px;
                        top:80%;
                        left:10%;

                    }
                }
                .places-details {
                    display: flex;
                    justify-content: space-between;
    
                    .rating {
                        display: none !important;
                    }
                }
            }

        }
    }
}

//-----------------SLICK SLIDER-------------
.slick-slider .slick-arrow:after {
    content: '';
    position: absolute;
    top: 25px;
    left: -20px;
    background-image: url('../images/chevron-left-solid.svg') !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 30px;
    height: 60px;

}

.slick-prev {
    left: 30px !important;
    z-index: 10;
}

.slick-next {
    right: 70px !important;
}

.slick-prev,
.slick-next {
    background-color: #3fd0d400 !important;

    &:last-of-type {
        transform: rotateY(180deg);
    }
}

.slick-prev:before,
.slick-next:before {
    font-size: 55px !important;
    display: none;
}